<div id="footer" dir="rtl">
  <div class="container">
    <div class="row">
      <div class="col-md-2 HideOnPhones">
        <img src="../../assets/image/LOGO אשדוד.png" alt="">
      </div>
      <div  class="col-md-3 divtextfooter HideOnPhones" >
נהנתי לעשות את הפרוייקט
        <br>
היה מעניין ומאתגר
        <br>
מקווה שתאהבו את התוצאה הסופית
        <br>
כל הזכויות שמורות לדור זאברון
        <br>

      </div>
      <div id='ulCol' class="col-md-3 divtextfooter HideOnPhones" >
        <ul>
          <li><a href="#"> <i class="fas fa-angle-left"></i>אזור אישי</a></li>
          <li><a href="#"> <i class="fas fa-angle-left"></i>תשלומים</a></li>
          <li><a href="#"> <i class="fas fa-angle-left"></i>חניה ופיקוח לעסקים</a></li>
          <li><a href="#"> <i class="fas fa-angle-left"></i>בקשות ופניות</a></li>
          <li><a href="#"> <i class="fas fa-angle-left"></i>צור קשר</a></li>
        </ul>
      </div>
      <div class="col-md-3 ">
        <div class="row HideOnPhones">
          <img id="dorlogo" src="../../assets/image/Logo Web12 - עותק.png" alt="">
        </div>
        <div class="row divtextfooter" >
          <p>
הוקם ע"י דור זאברון
            <br>
כל הזכויות שמורות 2018 &copy;
          </p>
        </div>
      </div>
      <div id='facebookLogo' class="col-md-1 HideOnPhones">
        <i class="fab fa-facebook"></i>
      </div>
    </div>
  </div>
</div>
