<div dir="rtl">
  <h1 id="h1DoAction">ביצוע פעולות</h1>

  <div class="row">
    <div class="col-md-3 col-sm-6 col-6 ">
      <div class="leftBorder">
        <img src="../../assets/image/הורד.png" alt="img not found">
        <h3>איזור אישי</h3>
        <h4>. . . . .</h4>
      </div>

      <div>
        <a href="">
          <h6>לניהול תיק תושב
            <i class="fas fa-angle-left"></i>
          </h6>
        </a>
      </div>

    </div>
    <div class="col-md-3 col-sm-6 col-6">
      <div id="payments" class="leftBorder">
        <img src="../../assets/image/banking_service-512.png" alt="img not found">
        <h3>תשלומים</h3>
        <h4>. . . . .</h4>
      </div>

      <div>
        <a href="">
          <h6>לכל התשלומים
            <i class="fas fa-angle-left"></i>
          </h6>
        </a>
      </div>

    </div>
    <div class="col-md-3 col-sm-6 col-6">
      <div class="leftBorder">
        <img src="../../assets/image/car-parking-2-495852.png" alt="img not found">
        <h3>לתשלום דו"ח</h3>
        <h4>. . . . .</h4>
      </div>
      <div>
        <a href="#">
          <h6>לניהול תיק תושב
            <i class="fas fa-angle-left"></i>
          </h6>
        </a>
      </div>


    </div>
    <div class="col-md-3 col-sm-6 col-6">
      <div>
        <img src="../../assets/image/House_icon_Blue.jpg" alt="img not found">
        <h3>בקשות ופניות</h3>
        <h4>. . . . .</h4>
      </div>

      <div>
        <a href="#">
          <h6>לשליחת פניה או בקשה
            <i class="fas fa-angle-left"></i>
          </h6>
        </a>
      </div>

    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-3 col-s-6 ">
      <div>

        <a href="">
          <h6>לניהול תיק תושב
            <i class="fas fa-angle-left"></i>
          </h6>
        </a>
      </div>

    </div>
    <div class="col-md-3 col-s-6 ">

      <a href="">
        <h6>לכל התשלומים
          <i class="fas fa-angle-left"></i>
        </h6>
      </a>

    </div>
    <div class="col-md-3 col-s-6 ">

      <a href="#">
        <h6>לניהול תיק תושב
          <i class="fas fa-angle-left"></i>
        </h6>
      </a>

    </div>
    <div class="col-md-3 col-s-6">



    </div>
  </div> -->
