<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light" dir="rtl">
    <a class="navbar-brand logo" href="#">
      <img src="../../assets/image/LOGO אשדוד.png" alt="img not found">
    </a>
    <button class="navbar-toggler" type="button" data-target="#navbarSupportedContent" data-toggle="collapse" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link " href="#">איזור אישי
            <span id="spanAngel">
              <i class="fas fa-angle-down"></i>
            </span>
          </a>

        </li>
        <li class="nav-item ">
          <a class="nav-link " href="#">תשלומים
            <span id="spanAngel">
              <i class="fas fa-angle-down"></i>
            </span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#">
            בקשות ופניות
            <span id="spanAngel">
              <i class="fas fa-angle-down"></i>
            </span>
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">צור קשר</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">שלום דור</a>
          <a>
            <span>החלף ישוב
              <i class="fas fa-angle-down"></i>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#">
            <img id="imgMessage" src="../../assets/image/520692-letter_4-512.png" alt="img not found">
          </a>
        </li>
      </ul>

      <input type="text" name="search" placeholder="חיפוש שירות" >


    </div>
  </nav>
</div>
