<div id="container" dir="rtl">

    <a  href="#">
        <!-- <i class="fas fa-wheelchair"></i> -->
      <img id="imgWheelchier"  src="../../assets/image/267f.png" />
    </a>


   <img id="imgAshdod" src="../../assets/image/IMG_1771.JPG" alt="img not found">
   <div id='onTop'>
     <p>תושבים יקרים, מעוניינים לרשום את ילדיכם
               <br>
       לבית הספר או לגן?
       <br>
       <span class='smallFont'> היום כבר ניתן לעשות זאת דרך המחשב</span>
      </p>

       <a id="textlink" href="#">לרישום ילדיכם דרך המחשב<i class="fas fa-angle-left"></i></a>
      <br>

   </div>

</div>


