<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/image/398559.jpg" alt="">
        </div>
        <div class="col-md-6">
          <img src="../../assets/image/poster1.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img src="../../assets/image/reway-banner-hebrew.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
